{% extends 'base.html' %}

{%  block language %}
<select class="form-control" name=language value='Select Language'>
    <option value="python">Python</option>
    <option value="none">Plain text</option>
    <option value="c-like">C-like</option>
    <option value="javascript">Javascript</option>
    <option value="css">CSS</option>
    <option value="c">C</option>
    <option value="c++">C++</option>
    <option value="markup">HTML/XML</option>
    <option value="sql">SQL</option>
</select>
{% endblock %}
