{% extends 'base.html' %}
{%  block codeout %}
    <h2>Pasted Code</h2>
    <pre style="overflow: auto;word-wrap: normal;white-space: pre">
                <code lang="{{ paste.language }}" class="language-{{ paste.language }} span8">
                    {{ paste.code }}
                </code>
                </pre>
{% endblock %}

{%  block language %}
    <select class='form-control' name=language value={{ paste.language }}>
        <option value="python">Python</option>
        <option value="none">Plain text</option>
        <option value="c-like">C-like</option>
        <option value="javascript">Javascript</option>
        <option value="css">CSS</option>
        <option value="c">C</option>
        <option value="c++">C++</option>
        <option value="markup">HTML/XML</option>
        <option value="sql">SQL</option>
    </select>
{% endblock %}
